<aside class="sidebar-left">
    <div class="profile-section">
        <div class="avatar">
           <img src="{{ '/img/other/avatar.png' | relative_url }}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
        </div>
        <h1 class="profile-name">MinhNG</h1>
        <p class="profile-bio">Personal website for blogging and showcasing projects.</p>
    </div>

    <ul class="nav-menu">
        <li class="nav-item">
            <a href="{{ site.baseurl }}/" class="{% if page.url == '/' or page.url == '/index.html' %}active{% endif %}"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li class="nav-item">
            <a href="{{ site.baseurl }}/categories" class="{% if page.url contains '/categories' %}active{% endif %}"><i class="fa-solid fa-list"></i> Categories</a>
        </li>
        <li class="nav-item">
            <a href="{{ site.baseurl }}/projects.html" class="{% if page.url == '/projects.html' %}active{% endif %}"><i class="fa-solid fa-layer-group"></i> Projects</a>
        </li>
        <li class="nav-item">
            <a href="{{ site.baseurl }}/tags" class="{% if page.url contains '/tags' %}active{% endif %}"><i class="fa-solid fa-tags"></i> Tags</a>
        </li>
        <li class="nav-item">
            <a href="{{ site.baseurl }}/blog.html" class="{% if page.url == '/blog.html' %}active{% endif %}"><i class="fa-solid fa-box-archive"></i> Archives</a>
        </li>
        <li class="nav-item">
            <a href="{{ site.baseurl }}/about/" class="{% if page.url contains '/about' %}active{% endif %}"><i class="fa-solid fa-circle-info"></i> About</a>
        </li>
    </ul>

    <div class="sidebar-footer">
        <button id="theme-toggle" aria-label="Toggle Theme">
            <i class="fa-solid fa-circle-half-stroke"></i>
        </button>
        <a href="https://github.com/MinhNguyen2xx6" target="_blank" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/minh-nguy%E1%BB%85n-48990939b/" target="_blank" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
    </div>
</aside>
